body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top:100px;
    background-color: black;
   /* background-image:url(images.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:relative;
   */

}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    padding-top:10px;
    background-image:url(images.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add this CSS for mobile responsiveness */
@media screen and (max-width: 770px) {
    .container {
        max-width: 100%;
    }
}
